<footer class="site-footer">
  <h2 class="text-center"> Insert_Catchy_Social_Media_Plug_Here </h2>
  <div class="container-fluid text-center">
  <div class="row" style="display:inline-block;vertical-align:middle;">
     <div class="col-xs-4 col-lg-4">
       <a href="https://github.com/cdminigun"> <img src ="{{site.baseurl}}/images/logos/github.png" alt="Sample." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-4 col-lg-4">
       <a href="https://www.linkedin.com/in/christopher-doege-a24120110/"> <img src ="{{site.baseurl}}/images/logos/linkedin.png" alt="Sample." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
     <div class="col-xs-4 col-lg-4">
       <a href="https://twitter.com/Chris_Doege"> <img src ="{{site.baseurl}}/images/logos/twitter.png" alt="Sample." style="width: auto; height: 120px; padding: 20px;"></img></a>
     </div>
</div>
</footer>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<script src="js/trail.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
